.weather {
  flex-direction: column;
  font-size: 20px;
  align-items: flex-start;
  padding: 25px;

  li {
    text-align: right;
    margin-bottom: 10px;
    list-style: none;
    text-transform: capitalize;
    width: 100%;
  }
}
