.calendarContainer {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  margin: auto;
  li {
    list-style: none;

    &.border {
      border: 1px solid #ffffff07;
    }
  }

  figcaption {
    font-weight: 900;
    text-decoration: underline;
  }

  p {
    color: white;
  }
}
