.clock {
  grid-area: 3 / 2 / 4 / 5;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > span:first-child {
    margin-bottom: 15px;
  }
}
